$colors: (
    common: (
        white: #ffffff,
        black: #000000,
        light-white: #70747D,
        body: #6D6D6D,
    ),
    heading: (
        primary: #0093FF,
        secondary: #001A48,
    ),
    grey: (
        1:#CFD1D4,
        2:#70747D,
    ),
    text: (
        body:#eeeeee,
        body2: #4F4F4F
    ),
    body: (
        text:#888888,
        text2: #3D3D3D,
        text3: #0093FF
    ),
    theme: (
        primary: #FF8400, 
    ),
    button: (
        primary:#FF9C0A
    ),
    border: (
        1: #D1D1D1,
        2: #A7E4FF,
        3: #6BD6FF
    ),
    bg: (
        1: #D1D1D1,
        2: #E9F8FF,
        3: #CEEEFF,
        4: #E9F8FF,
        5: #D9D9D9
    ),
     subtitle: (
        primary: #004EFF
    )
);